html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #181716;
  font-family: "Gabarito", sans-serif;
  color: #f2dc6d;
  cursor: default;
  scroll-behavior: smooth;
}

main {
  width: 100%;
}



/*GENERAL__navigation bar*/
  .navbar {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #bb98dd;
    z-index: 5;
    position: fixed;
    top: 0%;
  }
  .navbar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    position: relative;
  }

  .navbar ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #181716;
    padding: 0.5em 0.5em;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
  }

  .navbar ul li a:hover {
    background-color: #5226ef;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    font-style: italic;
}




/*GENERAL__FOOTER*/
  footer {
    font-family: 'Gabarito';
    text-align: center;
    padding: 20px 0;
    background-color: #6b6de1;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 0;
    width: 100%;
}


/*GENERAL__FONTS*/
  .heading {
    color: #f2994a;
    font-weight: 800;
    font-size: 3rem;
    font-style: normal;
    text-align: center;
    line-height: 3.2rem;
  }
  .heading:hover {
    color:#f6d886;
  }

  .bodytext {
  font-size: 1.2rem;
  line-height: auto;
  color: #f6d886;
  }

  .heading2 {
    color: #fab855;
    font-family: "Gabarito", serif;
    font-weight: 800;
    font-size: 2rem;
    font-style: normal;
    text-align: center;
    line-height: 2.5rem;
}



/*GENERAL__marquee banner*/
  .marquee {
    width: 100%;
    max-width: 100%;
    margin: 0 0;
    padding: 0;
    white-space: nowrap;
    overflow: clip;
    overflow-clip-margin: border-box;
  }
  .marquee span {
    font-family: "Jaro";
    font-weight: 400;
    color: #ffbecf;
    font-size: 20rem;
    text-transform: uppercase;
    display: inline-block;
    animation: marquee-animation 85s linear infinite;
  }
  @keyframes marquee-animation {
    0% {
      transform: translate (0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
}





/*GENERAL___PRELOADER*/
  #preloader {
    position: fixed;
    inset: 0;
    z-index: 9999;
    overflow: hidden;
    background-color: #181716;
    transition: all 0.6s ease-out;
    width: 100%;
    height: 100vh;
  }
  #preloader:before,
  #preloader:after {
    content: "";
    position: absolute;
    border: 4px solid #FFBECF;
    border-radius: 50%;
    animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  #preloader:after {
    animation-delay: -0.5s;
  }
  @keyframes animate-preloader {
    0% {
      width: 10px;
      height: 10px;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      opacity: 1;
    }

    100% {
      width: 72px;
      height: 72px;
      top: calc(50% - 36px);
      left: calc(50% - 36px);
      opacity: 0;
    }
}









/*HOME__herographics*/
  div.graphic-container {
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height:100vw;
    overflow: hidden;
    z-index: -10;
  }

  div.graphic-container-inner {
    position: relative;
    width: 100%;
    height: 65%;
    overflow: hidden;
  }

  div.graphic-container-inner img {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    object-fit: cover;
}




/*HOME__KangSan's CSS*/
header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #181716;
  z-index: 99;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: slideDown 1s forwards;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}



/*HOME___MAIN CONTAINER*/
  .homepage-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top:-30em;
    box-sizing: border-box;
  }
  section {
    flex-grow: 1;
    background-color: #181716;
    width:80%;
    padding: 2% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
  }
  .content {
    width: 100%;
    max-width: 1200px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    background-color: #181716;
  }
  
  .content h1,
  .content li {
    text-align: center;
  }
  .content img {
    width: 35%;
    height: 500px;
    max-width: 400px;
    margin-left: 20px;
    object-fit: contain;
  }
  .with-image img {
    width: 400px;
    height: 300px;
    background-color: #181716;
    margin: 40px;
  }
  .with-image .button {
    flex: 1;
    text-align: center;
    margin: 0;
  }
  #quiz .button {
  text-align: center;
}


  .button a {
    display: inline-block;
    padding: 30px 60px;
    background-color: #ffbecf;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    font-size: 22px;
    transition: box-shadow 0.3s, transform 0.3s, scale 0.5s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .button a:hover {
    background-color: rgb(243, 135, 153);
    transform: translateY(-5px);
    scale: 1.05;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}




/*HOME__SCROLL ANIMATION*/
  .slide-up{  
    opacity: 0;
    transition: opacity 2s, transform 2.5s;
    transform: translateY(80%);
  }
  .slide-up.alerted{
    transform: none;
    opacity: 1;
  }
  .slide-left{
    opacity: 0;
    transition: opacity 2s, transform 2.5s;
    transform: translateX(10vw);
  }
  .slide-left.alerted{
    transform: none;
    opacity: 1;
  }
  .slide-right{
    opacity: 0;
    transition: opacity 2s, transform 2.5s;
    transform: translateX(-10vw);
  }
  .slide-right.alerted{
    transform: none;
    opacity: 1;
}














/*INSTRUCTION__hero message*/
.hero-message {
  width: 100%;
}
.hero-message h1 {
  text-align: center;
  padding: 1em 6em;
}


/*INSTRUCTION__card animation*/
.cards {
  position: relative;
  margin-top: 8em;
  margin-bottom: 22em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  position: absolute;
  width: 127.5px;
  height: 200.75px;
  background-color: #d6d6d6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 1);
  border: none;
  transition: 0.5s;
  transform-origin: 50% 100%;
  overflow: hidden;
  cursor: pointer;
}
.cards:hover .card {
  transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 120px));
}
.card:active {
  translate: calc(var(--i) * 10px)-40px;
  transition: 0.1s;
}
.card img {
  width: 127.5px;
  height: 200.75px;
  object-fit: fill;
}

/*INSTRUCTION__contents of a Halli Galli game set*/
.gamecontent__heading > h2 {
  font-size: 3.2rem;
  margin-bottom: 1em;
}
.gamecontent__description {
  width: 70%;
  margin: 0 auto 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gamecontent__description .gamecontent__text{
  flex: 1;
  text-align: left;
  padding-right: 5em;
}
.gamecontent__description li {
  list-style-type: square;
  font-size: 1.5rem;
  padding-bottom: 1.2em;
  color: #fab3c1;
}
.gamecontent__img {
  flex: 1;
  padding-left: 5em;
}
.gamecontent__img img {
  height: 20vw;
  object-fit: contain;
}



/*INSTRUCTION__BRIEF INTRO*/
.briefintro {
  width: 80vw;
  margin: 0 10vw 5vw;
}
.briefintro > h3 {
  font-size: 1.2rem;
}
.briefintro__heading {
  text-align: left;
  padding:0.5em 0;
}
.briefintro .briefintro__text{
  font-size: 1.3rem;
  margin-bottom: 1em;
}
.briefintro{
  display:flex;
  flex-direction: row;
}
.briefintro__img img{
  object-fit: contain;
  overflow: hidden;
  margin-top: 5em;
  width:32em;
  margin-left:15%;
}


/*INSTRUCTION__PREPRARATION*/
.preparation {
  margin-left: 7em;
  margin-right: 7em;
  padding: 2em;
  background-color: #413f4b;
  border-radius: 10px;
  transition: rotate 0.5s;
  cursor:pointer;
}
.preparation:hover{
  rotate: 3deg
}

.preparation__content p.preparation__text{
  line-height: 1.6em;
  color:#d0c9ec
}
.preparation__heading {
  text-align: left;
  padding-bottom: 0.5em;
  color: #a798f4;
  font-weight: 800;
  font-size: 3rem;
  font-style: normal;
  line-height: 3.2rem;
}





/*INSTRUCTION__GAMEPLAY*/
.gameplay{
  margin-left: 7em;
  margin-right: 7em;
  margin-top:5em;
  margin-bottom: 5em;
  padding: 2em;
  background-color: #413f4b;
  border-radius: 10px;
  transition: rotate 0.5s;
  cursor:pointer;
}
#gameplay__content{
  background-color: #413f4b;
  padding:0;
  margin-left:6.5em;
}
.gameplay:hover{
  rotate: -2deg
}
.gameplay__heading{
  text-align: left;
  padding-bottom: 0.5em;
  color: #98bbf4;
  font-weight: 800;
  font-size: 3rem;
  font-style: normal;
  line-height: 3.2rem;
}
.gameplay__text{
  list-style: none;
}
.gameplay__text>li{
  list-style: none;
  margin-left:-5.5em;
  margin-bottom: 0em;
  font-size: 1.2rem;
  color: #cee2fe;
  background-color: #413f4b;
}
.conclusion{
  width:80%;
  margin: 2em auto;
  padding: 4%;
  font-style: italic;
}
.conclusion .heading{
  font-style: italic;
}
.gameplay__text li{
  padding: 0.6em;
}















/*QUIZ_PAGE*/
  .quiz-content{
    width:70%;
    margin:0 auto;
    background-image: linear-gradient(rgb(46, 45, 43), rgba(0, 0, 0, 0));
    border-radius: 8px;
    padding:5% 0;
  }
  .quiz-heading{
    width:100%;
  }
  .quiz-heading>h1{
    padding-top:1em;
    padding-bottom: 0.5em;
    font-size: 4rem;
  }
  .quiz-heading>h2{
    padding-bottom: 0.5em;
  }
  .quiz-question-container{
    width:80%;
    height:auto;
    margin:0 auto;
    padding-bottom:3em;
    text-align:start;
  }
  .quiz-question{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: 400;
    color:#fffbdd;
  }
  
  .quiz-question-container select{
    width:360px;
    height:30px;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    background-color: #d1d0f3;
    border:none;
    color:#2e15adb8;
  }
  .quiz-question-container input.number{
    width:200px;
    height:30px;
    border-radius: 10px;
    text-align: center;
    background-color: #d1d0f3;
    border:none;
  }
  .quiz-question-container input{
    width:20px;
    height:20px;
    background-color: #d1d0f3;
    border:none;
    margin-bottom: 10px;
  }
  .quiz-question-container label{
    font-size: 1.1rem;
    text-align: center;
    color: #d1d0f3;
    margin-right:20px;
  }
  .check-answer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:60%;
    margin:0 20%;
    padding: 3em 0;
  }
  .check-answer button{
    background-color: #917bfe;
    color:#fff;
    height:2em;
    width:40%;
    margin:0 30%;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 5px;
    border-style:none;
  }
  .check-answer button:hover{
    cursor: pointer;
    background-color: #5226ef;
    color:#fff;
}









/*DEMO__SECTION1*/
#buttons {
  font-weight: bold;
  color: rgb(72, 11, 226);
  background-color: rgb(190, 172, 241);
  padding: 0.5px 4px;
  border-radius: 5px;
}
.section1{
  background-image: linear-gradient(#181716,#181716,rgb(40, 38, 42));
}
.section1 .heading2 {
  padding-bottom: 1em;
}
.section1 .heading {
  font-style: italic;
}
.demoinstruction {
  background-color: rgb(59, 45, 84);
  padding: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
}
#section1bodytext {
  line-height: 1.8em;
  color: #dac6fe;
}
#section1heading {
  color: #c9abff;
}




/*DEMO___SECTION2*/
.section2__buttons{
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
}
.section2__buttons button{
  font-family: 'Gabarito', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  color:rgb(72, 11, 226);
}
#startButton {
  width: 200px;
  height: 50px;
  margin-right:5%;
  background: rgb(190, 172, 241);
  border:none;
  border-radius: 5px;
  position: relative;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  transition: all 0.2s;
  cursor: pointer;
}

#restartButton {
  width: 200px;
  height: 50px;
  margin-left:5%;
  border:none;
  background: rgb(190, 172, 241);
  position: relative;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}
.computerimg{
  object-fit: contain;
  padding-top:2em;
  padding-bottom: 2em;
}
.btnBG {
  background: #9276b9;
}
.btnBG.btnPush {
  box-shadow: 0px 5px 0px 0px rgb(102, 71, 181);
}
.btnPush:hover {
  color:#975de7
}
.btnBG.btnPush:hover {
  box-shadow: 0px 0px 0px 0px rgb(72, 11, 226);
}
.section2 {
  background-image: linear-gradient(rgb(40, 38, 42),#5a4d42)
}
#underBell{
  cursor: pointer;
}







/*DEMO___SECTION3*/
.section3 {
  text-align: center;
  background-color:#5a4d42;
}
.score{
  background-color:#826b58;
  width:80%;
  border-radius: 10px;
  padding:4%;
}
.Cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Back1 .Back2 {
  margin: 50;
  padding: 30;
}
#upperBell {
  width: 150px;
  height: 150px;
  margin-top: 0px;
}
#underBell {
  width: 150px;
  height: 150px;
  margin: 5px;
}
.BCB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scoreTable {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-collapse: collapse;
  color: #feedc6;

  th,
  td {
    padding: 12px;
    width: 20%;
  }
}
.score .heading{
  padding-bottom: 0.8em;
  color: #efc58e;
}
.td1 {
  background-color: #a46f4a;
}
.td2 {
  background-color: #634f40;
}
