*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  width:100%;
  height:100%;
  background-color: #181716;
  font-family:'Inter',sans-serif;
  color:#f2dc6d;
  cursor:default;
}

.navbar{
  width:100%;
  background-color: #bb98dd;
  z-index:5;
  position:fixed;
  top:0%

}
.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  position:relative;
}

.navbar ul li a {
  display:flex;
  flex-direction: column;
  align-items: center;
  color: #000000;;
  padding: 0.5em 0.5em;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.navbar ul li a:hover {
  background-color: #5226EF;
  color:#ffffff;
  font-weight: bold;
  cursor:pointer;
}

.homepage-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.homepage-content {
  flex-grow: 1;
  background-color: #ffefef21;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.content {
  width: 100%;
  max-width: 1200px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-block {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content h1,
.content li {
  text-align: left;
}

.content img {
  width: 35%;
  height: 500px;
  max-width: 400px;
  margin-left: 20px;
}


.with-image img {
  width: 400px;
  height: 400px;
  background-color: #FFEFEF;
  margin: 40px;
}

.with-image .button {
  flex: 1;
  text-align: left;
  margin: 40px;
}

#quiz .button {
  text-align: right;
}

.button a {
  display: inline-block;
  padding: 30px 60px;
  background-color: #f87e97;
  color: black;
  text-decoration: none;
  border-radius: 15px;
  font-size: 22px;
  transition: box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button a:hover {
  background-color: rgb(255, 141, 160);
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


#footer-home {
  text-align: center;
  padding: 20px;
  background-color: #F3D0D7;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.heading {
  font-size: 5vw;
  color: #cb8017;
  font-family: "Gabarito", serif;
  font-weight: 600;
  font-size:2.5rem;
  font-style: normal;
  text-align: center;
}


header {
  display: flex;
  justify-content: space-around;
}
header,
footer {
  background-color: #ffbecf;
  text-align: center;
}





#gamecontainer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3d3d3d;
}

.gamecontainerimg{
  margin:0;
  padding:0;
}
.gamecontainerimg img{
  height:20vw;
  object-fit: contain;
}



main {
  display: flex;
  flex-direction: column;
  margin:1em;
}

td {
  border: 3px;
  padding: 3px;
  border-style: groove;
  text-align: center;
}

table {
  background-color: #95bbf9;
  margin-top: 8em;
  margin-left: 10em;
}

#description {
  margin-right: 7em;
  margin-top: 5em;
}



#title2 {
  background-color: #917bfe;
  text-align: center;
}
#title2 > h2 {
  color:#4422ef;
}
#preparation {
  margin-left: 7em;
  margin-right: 7em;
  padding:1em;
  background-color: #a7a6ff;
}
#title3 {
  background-color: #f6d886;
  text-align: center;
  color: #f2dc6d;
}
#game {
  margin-left: 7em;
  margin-right: 7em;
  padding:1em;
  background-color: #F2994A;
}


.cards{
  position:relative;
  margin-top:15em;
  margin-bottom:25em;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;

}


.card {
  position:absolute;
  width:127.5px;
  height:200.75px;
  background-color: #d6d6d6;
  border-radius:10px;
  display:flex;
  justify-content: center;
  align-items: center;
  color:rgba(0, 0, 0, 1);
  border:none;
  transition:.5s;
  transform-origin:50% 100%;
  overflow:hidden;

}

.cards:hover .card{
  transform:rotate(calc(var(--i)*5deg))
            translate(calc(var(--i)*120px));
}

.card img{
  width:127.5px;
  height:200.75px;
  object-fit:fill;
}

.marquee{
  width:100%;
  margin: 0 0;
  white-space:nowrap;
  overflow:hidden;
}

.marquee span{
  font-family: "Jaro";
  font-weight:400;
  color:#ffbecf;
  font-size:20rem;
  text-transform:uppercase;
  display:inline-block;
  padding-left:-10%;
  animation:marquee-animation 85s linear infinite;
}

@keyframes marquee-animation {
  0% {
    transform: translate (0,0);
  }
  100%{
    transform:translate(-100%,0);
  }
}

div.graphic-container{
  margin:0;
  padding:0;
  box-sizing:border-box;
  height:100vw;
}

div.graphic-container-inner{
  position:relative;
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items:center;
  overflow: hidden;
}

div.graphic-container-inner img{
  position:absolute;
  width:100%;
  top:0;
  left:0;
  object-fit: contain;
}
